html {
  background-color: #fae9c7;
}

.main {
  min-height: 100vh;
}

.container {
  margin: auto;
  font-family: 'Zen Kaku Gothic New';
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}
.nav-link-item {
  padding: 2rem;
}
.nav-link-text {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
